:root {
  --first_row_col: #5F5F01;
  --first_row_col_text: #018f8f;
  --second_row_col: #7600EC;
  --second_row_col_text: #612600;
}
table {
  border-collapse: collapse;
  font-size: 1em;
  height: 300px;
  width: 80%;
}
td {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
}
tr:nth-child(3) td:nth-child(4) {
  width: 25%;
}
tr:nth-child(1){
  background-color: var(--first_row_col);
  color:var(--first_row_col_text);
}
tr:nth-child(1):hover{
  background-color: var(--first_row_col_text);
  color: var(--first_row_col);
}
.pair tr{
  background-color: var(--second_row_col);
  color: var(--second_row_col_text);
}
.pair:hover tr {
  background-color: var(--second_row_col_text);
  color: var(--second_row_col);
}



